/////////////////////////////
//background

/////////////////////////////
// color
//format
@each $colorClass, $value in $colorClass-palette {
	.color--#{$colorClass} {
		color: $value;
	}
}
@each $colorClass, $value in $mixClass-palette {
	.bg--#{$colorClass} {
		background-color: map-get($value, 'bg');
		color: map-get($value, 'color');
	}
}