/////////////////////////////
//background
.full-image{
	@include background(cover, center, no-repeat);
}
.full-image--overlay{
	position: relative;
	@include background(0px, 0 200%);
	&:before{
		content: "";
		background-image: inherit;
		@extend .full-image;
		@include position(absolute, 0, auto, 0);
		height: 100%;
		width: 100%;
		z-index: 1;
	}
	> *{
		position: relative;
		z-index: 2;
	}
}
.full-image--overlay-thin:before{
	@include opacity(10)
}
.full-image--overlay-light:before{
	@include opacity(20)
}
.full-image--overlay-medium:before{
	@include opacity(50)
}
.full-image--overlay-hard:before{
	@include opacity(70)
}

/////////////////////////////
//color - text/background
//format
@each $colorClass, $value in $colorClass-palette {
.bg--#{$colorClass} {
		background-color: $value;
	}
	.color--#{$colorClass} {
		color: $value;
	}
}