/////////////////////////////
// groups
@mixin inline {
    flex-direction: row;
    flex-wrap: nowrap;
}
  
@mixin stack {
    flex-direction: column;
    width: 100%;
}
  
.group {
    display: flex;
    flex: 1;
    @include stack;
    flex-direction: column;
    gap: 20px;
}

@mixin group-modifiers($size: "") {
    .group_inline#{$size} {
        @include inline;
    }

    //content align
    .group_content-center#{$size} {
        justify-content: center;
    }
    .group_content-end#{$size} {
        justify-content: flex-end;
    }
    .group_content-start#{$size} {
        justify-content: flex-start;
    }
    .group_content-between#{$size} {
        justify-content: space-between;
    }
  
    //group align
    .group_align-center#{$size} {
        align-items: center;
    }
    .group_align-start#{$size} {
        align-items: flex-start;
    }
    .group_align-end#{$size} {
        align-items: flex-end;
    }
    .group_align-initial#{$size} {
        align-items: initial;
    }

    //fill
    .group_fill#{$size} {
        justify-content: space-between;
        width: 100%;
    }

    //wrap
    .group_wrap#{$size} {
        flex-wrap: wrap;
    }
    .group_nowrap#{$size} {
        flex-wrap: nowrap;
    }

    //flex
    .group_flex-initial {
        flex: initial;
    }
    .group_flex-width-auto {
        flex: 0 0 auto;
    }

    //direction
    .group_row-reverse#{$size} {
        flex-direction: row-reverse;
    }

    .group_column-reverse#{$size} {
        flex-direction: column-reverse;
    }

    //size
    .group_half#{$size} {
        max-width: 50%;
    }
    .group_third_quarter#{$size} {
        max-width: 75%;
    }
    .group_full-width#{$size} {
        max-width: 100%;
    }
    .group_xs#{$size} {
        max-width: 300px;
    }
    .group_xs-1#{$size} {
        max-width: 350px;
    }

    //spacing
    .group_spacing-none#{$size} {
		gap: 0;
	}
    .group_spacing-minimal#{$size} {
		gap: 1px;
	}
    .group_spacing-xxs#{$size} {
		gap: 5px;
	}
	.group_spacing-xs#{$size} {
		gap: 10px;
	}
	.group_spacing-sm#{$size} {
		gap: 20px;
	}
	.group_spacing-md#{$size} {
		gap: 30px;
	}
	.group_spacing-lg#{$size} {
		gap: 40px;
	}
	.group_spacing-xl#{$size} {
		gap: 50px;
	}
}

// Generate font size helpers
@include group-modifiers();
@include sm {
  @include group-modifiers("--sm");
}

@include md {
  @include group-modifiers("--md");
}

@include lg {
  @include group-modifiers("--lg");
}

@include xl {
	@include group-modifiers("--xl");
}

//elliot
@mixin group-item($size: '') {
    .group__item#{$size} {
      flex: 1 0 0%;
    }
    .group__item-auto#{$size} {
      width: auto;
      flex: initial;
    }
    .group__item-sm#{$size} {
      flex: 1 0 0%;
      max-width: 250px;
    }
    .group__item-md#{$size} {
      flex: 1 0 0%;
      max-width: 320px;
    }
    .group__item-lg#{$size} {
      flex: 1 0 0%;
      max-width: 360px;
    }
    .group__item-xl#{$size}{
        flex: 1 0 0%;
        max-width: 1200px;
    }
}

@include group-item();

@include md{
    @include group-item('--md');
}

@include lg{
    @include group-item('--lg');
}

@include group-modifiers("--xl");

