/////////////////////////////
//links
.h-text-underline{
	text-decoration: underline;
	&-hover:hover{
		text-decoration: underline;
	}
}

//transition
.h-transition-03{
	@include transition(0.3s);
}

//transform
.h-uppercase{
	text-transform: uppercase;
}

//truncate
.h-word-break{
	@include word-break;
}
.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.h-spacing-bottom-sm{
	margin-bottom: 15px;
}

.h-spacing-top-sm{
	margin-top: 15px;
}

.h-spacing-bottom-md{
	margin-bottom: 30px;
}

.h-inner-spacing-sm{
	padding: 15px;
}

.h-inner-spacing-none{
	padding: 0;
}

.h-font-weight-bold{
	font-weight: bold;
}

.h-display-flex{
	display: flex;
}

.h-justify-content-between{
	justify-content: space-between;
}

.h-align-items-center{
	align-items: center;
}

.h-spacing-none{
	margin: 0;
}

.h-color-gray{
	color: $gray-color;
}

.h-text-link{
	&:hover{
		color: #c2a0a0;
	}
}

.h-spacing-right-xs{
	margin-right: 10px;
}

.h-flex-grow-1--md{
	flex-grow: 1;
}

.h-flex-direction-row--md{
	flex-direction: column;
	@include md{
		flex-direction: row;
	}
}