/////////////////////////////
//links
.h-text-underline{
	text-decoration: underline;
	&-hover:hover{
		text-decoration: underline;
	}
}

//transition
.h-transition-03{
	@include transition(0.3s);
}

//transform
.h-uppercase{
	text-transform: uppercase;
}

//truncate
.h-word-break{
	@include word-break;
}
.truncate-text {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


//spacing
@mixin h-spacing-atr($size: "") {
	//size
	.h-spacing-none#{$size} {
		margin: 0;
	}
	.h-spacing-xs#{$size} {
		margin: 5px;
	}
	.h-spacing-sm#{$size} {
		margin: 10px;
	}
	.h-spacing-md#{$size} {
		margin: 15px;
	}
	.h-spacing-lg#{$size} {
		margin: 20px;
	}
	.h-spacing-xl#{$size} {
		margin: 30px;
	}
	.h-spacing-xxl#{$size} {
		margin: 40px;
	}

	//vertical
	.h-spacing-vertical-xs#{$size} {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.h-spacing-vertical-sm#{$size} {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.h-spacing-vertical-md#{$size} {
		margin-top: 15px;
		margin-bottom: 15px;
	}
	.h-spacing-vertical-lg#{$size} {
		margin-top: 20px;
		margin-bottom: 20px;
	}
	.h-spacing-vertical-xl#{$size} {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	.h-spacing-vertical-xxl#{$size} {
		margin-top: 40px;
		margin-bottom: 40px;
	}

	//top
	.h-spacing-top-xs#{$size} {
		margin-top: 5px;
	}
	.h-spacing-top-sm#{$size} {
		margin-top: 10px;
	}
	.h-spacing-top-md#{$size} {
		margin-top: 15px;
	}
	.h-spacing-top-lg#{$size} {
		margin-top: 20px;
	}
	.h-spacing-top-xl#{$size} {
		margin-top: 30px;
	}
	.h-spacing-top-xxl#{$size} {
		margin-top: 40px;
	}

	//bottom
	.h-spacing-bottom-xs#{$size} {
		margin-bottom: 5px;
	}
	.h-spacing-bottom-sm#{$size} {
		margin-bottom: 10px;
	}
	.h-spacing-bottom-md#{$size} {
		margin-bottom: 15px;
	}
	.h-spacing-bottom-lg#{$size} {
		margin-bottom: 20px;
	}
	.h-spacing-bottom-xl#{$size} {
		margin-bottom: 30px;
	}
	.h-spacing-bottom-xxl#{$size} {
		margin-bottom: 40px;
	}

	//left
	.h-spacing-left-xs#{$size} {
		margin-left: 5px;
	}
	.h-spacing-left-sm#{$size} {
		margin-left: 10px;
	}
	.h-spacing-left-md#{$size} {
		margin-left: 15px;
	}
	.h-spacing-left-lg#{$size} {
		margin-left: 20px;
	}
	.h-spacing-left-xl#{$size} {
		margin-left: 30px;
	}
	.h-spacing-left-xxl#{$size} {
		margin-bottom: 40px;
	}

	//right
	.h-spacing-right-xs#{$size} {
		margin-right: 5px;
	}
	.h-spacing-right-sm#{$size} {
		margin-right: 10px;
	}
	.h-spacing-right-md#{$size} {
		margin-right: 15px;
	}
	.h-spacing-right-lg#{$size} {
		margin-right: 20px;
	}
	.h-spacing-right-xl#{$size} {
		margin-right: 30px;
	}
	.h-spacing-right-xxl#{$size} {
		margin-right: 40px;
	}
}

// Generate
@include h-spacing-atr();
@include sm {
	@include h-spacing-atr("--sm");
}
@include md {
	@include h-spacing-atr("--md");
}
@include lg {
	@include h-spacing-atr("--lg");
}
@include xl {
	@include h-spacing-atr("--xl");
}

//width
.h-width-100 {
	width: 100%;
}